
.menu-container {
  position: relative;
  top: 51px;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.ant-menu-item-selected {
  &:after {
    display: none;
  }
}

.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10;
  &.ligth {
    background-color: white;
  }
}



.ant-menu-inline-collapsed {
  & > .ant-menu-item, & > .ant-menu-submenu {
    margin: 0 20px;
  }
}
